<div class="overlay" (click)="toggleSidebar()"></div>
<aside class="sidenav">
    <div class="sidebar">
        <div class="brand text-center my-2">
            <img src="./assets/images/brand.png" alt="brand" />
        </div>

        <ul class="menu-list mb-4">
            <li>
                <a href="javascript:void(0)" routerLink="/" routerLinkActive="active-link">
                    <i class="bi bi-house"></i> Home
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="bi bi-compass"></i> Browse
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="bi bi-mic"></i> On the air
                </a>
            </li>
        </ul>

        <ul class="menu-list favorite-list">
            <li>
                <a href="javascript:void(0)" class="favorite-title">
                    <i class="bi bi-heart"></i> My Favorites
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    Abba
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    Alanis Morissete
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    Clash
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    Cream
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    Eddie Veddar
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    Pearl Jam
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    Pink Floyd
                </a>
            </li>
        </ul>
    </div>
    <button class="btn btn-link create-btn">
        <i class="bi bi-plus"></i> Create Playlist
    </button>
</aside>